html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Topo 1 */

.top-navegator {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  background-color: #4b1414;
}

.top-navegator ul {
  display: flex;
  list-style: none;
  font-size: 11px;
  flex-flow: wrap;
  align-content: flex-end;
}

.top-navegator ul li {
  width: 175px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-right: 1px solid white;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.top-navegator ul li:last-of-type {
  border-right: none;
}

.top-navegator ul li a {
  text-decoration: none;
  color: beige;
}

/* Topo 2*/

.main-navegator {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
  background-color: beige;
}

.imagem {
  width: 200px;
}

.main-navegator ul {
  display: flex;
  list-style: none;
  font-size: 25px;
}

.main-navegator ul li {
  width: 150px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-right: 1px solid #4b1414;
}

.main-navegator ul li:last-of-type {
  border-right: none;
}

.main-navegator ul li a {
  text-decoration: none;
  color: black;
}

.image-top {
  height: 450px;
  background-image: url(images/foto13.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -350px;
}

/* Icones Top */

.icon {
  padding: -5px;
  color: beige;
  vertical-align: middle;
}

/* Rodapé */

.footer-container {
  background-color: #4b1414;
  color: beige;
  display: flex;
  justify-content: space-between;
  padding: 15px 150px;
  align-items: center;
}

.footer-container ul {
  display: flex;
  list-style: none;
  font-size: 15px;
  flex-flow: wrap;
  align-content: flex-end;
}

.footer-container p {
  line-height: 28px;
}

.footer-container ul li {
  width: 90px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-right: 1px solid beige;
  margin-top: 1.5%;
}

.footer-container ul li a {
  text-decoration: none;
  color: beige;
}

.footer-container ul li:last-of-type {
  border-right: none;
}

/* Botão Ir ao Topo */
.button_to_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #4b1414;
  text-decoration: none;
}

.button_to_top {
  background-color: beige;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.button_to_top::after {
  content: "↑";
  font-size: 35px;
  font-weight: bold;
  color: #4b1414;
  transition: margin-top 250ms;
}

.button_to_top:hover::after {
  margin-top: -8px;
}
